.labelCatalogue
{
	width:87%;
	
}

.lblCata
{
	padding-left:5%;
	color:#414249;
	font-weight:bold;
	font-size:1.2em;
	
}

.iconeCatalogue
{
	width:13%;
	left:87%;
	top:0;
	min-width:50px;
}

.iconeCatalogue img, .iconeVue img
{
	border:none;
	margin-top:15px;
}

.labelVue
{
	width:70%;
}

.iconeVue
{
	width:20%;
	left:70%;
	top:0;
	min-width:50px;
}



/* +++++++++++++++++++++++++++++++++++++++++ SPECIFIQUE TAILLE ECRAN +++++++++++++++++++++++++++++++++++++++++++ */


@media only screen and (max-width:480px)
{
	.labelCatalogue
	{
		width:78%;
	}

	.iconeCatalogue
	{
		width:22%;
		left:78%;
	}
}