html
{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	margin:auto;
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	font-size:2.8em;
	color:#4a4a54;
}

body
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	margin:auto;
	border:0;
	background-color:#414249;
	background: -webkit-linear-gradient(#2b2a30 10%, #414249);
	background: -moz-linear-gradient(#2b2a30 10%, #414249);
	background: -ms-linear-gradient(#2b2a30 10%, #414249);
	background: -o-linear-gradient(#2b2a30 10%, #414249);
	background: linear-gradient(#2b2a30 10%, #414249);
	text-align:center;
}

#ajust 
{
    visibility: hidden;
	width: 100%;
	height: 50%;
	margin-top: -75px;
}


#logoRi
{
	position:absolute;
	left:20px;
	top:2%;
	width:11%;
	height:auto;
	opacity:0;
	min-width:60px;
	max-width:130px;
}

#mobile
{
	margin:0;
	padding:0;
	position:absolute;
	font-size:0.5em;
	top:3%;
	right:25px;
	text-align:right;
	text-shadow:2px 2px 2px black;
	color:#dbdbdb;
	opacity:0;
}


/*+++++++++++++++++++++++ BLOC INTRO +++++++++++++++++++++*/

#intro
{
	margin:0;
	padding:0;
	margin:auto;
	width:60%;
	height:150px;
	line-height:150px;
	text-align:center;
	opacity:0;
	font-size:1.2em;
}

#intro p
{
	margin:0;
	padding:0;
	height:100%;
	vertical-align:middle;
	text-shadow:2px 2px 2px black;
	color:#dbdbdb;
}

#intro span, #mobile span
{
	color:#37a8db;
	font-style:italic;
	font-size:0.7em;
}

#suite, #suiteH1
{
	color:#d1d400;
	display:inline-block;
	margin-right:20px;
	font-style:italic;
	font-size:0.7em;
}

#suite
{
	margin-right:9px;
}



/*+++++++++++++++++++++++ CONNEXION ++++++++++++++++++++*/

#connexion
{
	display:none;
	margin:0;
	padding:0;
	margin:auto;
	margin-top:0px;
	width:100%;
	height:150px;
	text-align:center;
	background-color:#414249;
	border-top:1px solid #2b2a30;
	opacity:0;
	box-shadow: 3px 5px 5px 0px #2b2a30;
	position:relative;
}

#messageConnexion
{
	display:none;
	color:white;
	border:1px solid white;
	text-align:center;
	font-size:0.5em;
	position:absolute;
	height:40px;
	line-height:40px;
	width:50%;
	left:21%;
	top:-90px;;
	
}

#LibelleServeur
{
	margin:0;
	padding:0;
	position:absolute;
	font-size:0.5em;
	bottom:3%;
	right:25px;
	color:gray;
	text-align:right;
	text-shadow:2px 2px 2px black;
	opacity:0;
}

form
{
	margin:0;
	padding:0;
	height:150px;
	width:100%;
	padding-top:10px;
	text-align:center;
}

#champs
{
	margin:0;
	padding:0;
	text-align:left;
	margin:auto;
	display:inline-block;
}

.champ
{
	margin:0;
	padding:0;
	height:28px;
	width:230px;
	-webkit-appearance: none;
	font-size:0.4em;
	color:#4a4a54;
	border-radius: 6px;
	border:1px solid #2b2a30;
	padding-left:40px;
}

#login
{
	background:white url(../images/login.png) no-repeat;
	background-position:2% 50%;
}

#motPasse
{
	background:white url(../images/motPasse.png) no-repeat;
	background-position:2% 50%;
}

.champ:focus 
	{  
        -webkit-box-shadow: 0px 0px 3px #37a8db;  
        -moz-box-shadow: 0px 0px 3px #37a8db; 
		-ms-box-shadow: 0px 0px 3px #37a8db;
		-o-box-shadow: 0px 0px 3px #37a8db; 		
        box-shadow: 0px 0px 3px #37a8db;  
    }  


#validation
{
	width:50px;
	height:30px;
	margin: 0;
    padding: 0;
    line-height: 100%;
	border:none;
    background: none; 
	background:url(../images/validation.png) no-repeat;
}

#validation:hover
{
	background:url(../images/validationB.png) no-repeat;
	cursor:hand;
}


/*+++++++++++++++++++++++++++++++++++++ POP UP DE CONF ++++++++++++++++++++++++++++++++++++++++++++++*/

#messageConf
{
	padding:0;
	width:100%;
	height:150px;
	line-height:150px;
	color:#dbdbdb;
	padding:0;
	margin:0;
	font-size:0.5em;
}

 #texteMessageConf
 {
 	display:inline-block;
 }

.liensConf
{
	margin:0;
	padding:0;
	display:inline-block;
}

.liensConf img
{
	border:none;
	margin:0;
	padding:0;
	display:inline-block;
	line-height:45px;
	vertical-align:middle;
}

#validerConf
{
	/*background: url(../images/ficheValider.png) no-repeat;*/
	
}

#annulerConf
{
	/*background: url(../images/ficheAnnuler.png) no-repeat;*/
}


@media only screen and (orientation : portrait)
{
	#logoRi
	{
		width:16%;
		top:2%;
	}
	
	#mobile
	{
		top:0.5%;
	}
}

@media only screen and (max-width:599px)
{
	#intro
	{
		font-size:0.9em;
	}
	
	#messageConnexion
	{
		width:70%;
		left:15%;
	}
	
	#messageConf
	{
		font-size:0.4em;
	}
}

@media only screen and (max-width:399px)
{
	#intro
	{
		font-size:0.7em;
	}
	
	.champ
	{
		width:200px;
	}
	
	#messageConnexion
	{
		font-size:0.3em;
		width:80%;
		left:10%;
	}
	
	
	#messageConf
	{
		font-size:0.3em;
	}
}

@media only screen and (max-height:449px)
{
	#messageConnexion
	{
		top:-60px;
		height:30px;
		line-height:30px;
		font-size:0.4em;
	}
}

@media only screen and (max-height:319px)
{
	#logoRi
	{
		display:none;
	}
	
	#mobile
	{
		font-size:0.4em;
		height:25px;
		line-height:25px;
	}
	
	#messageConnexion
	{
		top:-50px;
		height:30px;
		line-height:30px;
		font-size:0.3em;
		border:none;
	}
}


