
#logoRi, #mobile, #connexion, #LibelleServeur
{
	opacity:1;
}

/*+++++++++++++++++++++++ BLOC INTRO +++++++++++++++++++++*/

#intro
{
	display:none;
}

/*+++++++++++++++++++++++ CONNEXION ++++++++++++++++++++*/

#connexion
{
	display:block;
}

#messageConnexion
{
	display:none;
}

#messageConnexion
{
	display:inline-block;
}


