#bdrechCont
{
	display:block;
	/*float:left;
	padding:0;
	margin:0;*/
	width:35%;
	text-align:left;
	height:55px;
	/*line-height:55px;*/
	margin-left:3%;
	
	
}
.labelContact
{
	margin-left:2%;
	color: #055c94; 
	font-style: italic;
	padding-top:5px;
	font-weight: bold;
}
.BTN
{
	display:inline;
	font-size:0.9em;
	color: #055c94; 
}
.borderrechCont
{
	padding:0;
	margin:0;
	/*position:absolute;*/
	border-radius: 4px;
	/*border:1px solid #dbdbdb;*/
	/*height: 32px;*/
/*	width: 311px;*/
	/*top: 35%;*/
/*	left: 5px;*/
}
.listes
{
	display:block;
	text-decoration:none;
	height:30px;
	line-height:30px;
	color:#4a4a54;
	width:97%;
	/*margin-left:1%;*/
	padding:0;
	white-space: nowrap;
}
.listes:nth-child(even)
{
	background-color:white;
}
.listes div
{
	float: left;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    overflow: hidden;
    text-decoration: none;
    color: #5d606a;

}

#rechCont
{
	padding:0;
	margin:0;
	/*background:#5d606a url(../images/loupe.png) no-repeat;*/
	background-position:0% 50%;
	color:#dbdbdb;
	border:1px solid #dbdbdb;
	height:20px;
	min-height:20px;
	/*padding-bottom:29px;*/
	font-size:1.0em;
	font-weight: bold;
	color:#5D606A;
	width:70%;
	text-transform:uppercase;
}
#listeContact
{
	padding:0;
	margin:0;
	opacity: 0.95;
	filter: alpha(opacity=95);
	width: 310px;
	display: none;
	position:absolute;
	border: 1px solid #dbdbdb;
	background:#5D606A;
	font-size:1.1em;
	z-index: 20;
}
#titreNumero
{
	color:white;
	margin-left:2%;
	/*border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:20%;
}
.titreNumero
{
	margin-left:2%;
	/*border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:90px;;
	display: inline-block;
	
}
#titreRefLongue
{
	color:white;
	margin-left:8%;
	/*border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:90px;
}
.titreRefLongue
{
	margin-left:2%;
	/*border: 1px solid #dbdbdb;*/
	/*width:2%;*/
	text-decoration:none; 
	width: 150px; 
	display: inline-block;
}
#titreValidité
{
	color:white;
	margin-left:20%;
	/*border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:16%;
}
.titreValidité
{
	margin-left:8%;
	/*border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:100px;
	display: inline-block;
}
#titreMontant
{
	color:white;
	margin-left:15%;
/*	border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:30%;
}
.titreMontant
{
	margin-left:12%;
/*	border: 1px solid #dbdbdb;*/
	text-decoration:none; 
	width:90px;
	display: inline-block;
}
.titreDevis
{
	margin-left : 2%;border: 1px solid #dbdbdb;
}
.secContenu
{
	margin:0;
	padding:0;
	width:94%;
	border:1px solid #055c94;
	border-radius: 9px;
	box-shadow: 3px 5px 5px 0px #414249;
	margin-left:3%;
	margin-top:30px;
	padding-bottom:60px;
	margin-bottom:30px;
	background-color:#f3f1f1;
	position:relative;
}
.grosTitre
{
	background: rgba(0, 0, 0, 0) linear-gradient(#0966a2, #167dbf 49%, #0966a2 50%) repeat scroll 0 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    display: block;
    font-size: 1em;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 0 0 2%;
    position: relative;
    
    margin-bottom : 2%;

}
#boutonRetourModule
{
	width:16%;
	height:60px;
	line-height:60px;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	position:absolute;
	right:7%;
	top:0;
	z-index: 2;
	display: block;
	text-align:center;
	margin:0;
	padding:0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color:#414249;
	margin-right:2px;
	text-decoration:none;
	color:white;
	background: -webkit-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -moz-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -ms-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -o-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	opacity: 0.9;
}

.enteteListeModule
{
	width:97%;
	/*float:left;*/
	height:36px;
	line-height:36px;
	background-color:#5d606a;
	font-size:0.9em;
	border-top:1px solid #5d606a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	
}

/* affichage jusqu'ŕ 1000px max de largeur */
@media only screen and (max-width:1000px)
{
	#bdrechCont
	{
		margin-left:3%;
	}
	.titreNumero
	{
		font-size:95%;
	}
	.titreRefLongue
	{
		font-size:95%;
	/*	margin-left:10%;*/
	}
	.titreValidité
	{
		font-size:95%;
		/*margin-left:15%;*/
	}
	.titreMontant
	{
		font-size:95%;
		margin-left:14%;
	}
}


@media only screen and (max-width:820px)
{
	#bdrechCont
	{
		margin-left:6%;
	}
	#contenu
	{
		height:83%;
	}
	.secContenu
	{
		width:94%;
		margin-left:3%;
	}
	.titreNumero
	{
		font-size:80%;
		width:80px;
	}
	.titreRefLongue
	{
		font-size:80%;
		margin-left:2%%;
		width:50px;
	}
	.titreValidité
	{
		font-size:80%;
		margin-left:14%;
		width:50px;
	}
	.titreMontant
	{
		font-size:80%;
		margin-left:30%;
		width:90px;
	}
}

@media only screen and (max-width:600px)
{
	.moduleTel
	{
		display:none;
	}
 	#bdrechCont
	{
		margin-left:3%;
	}
	.secContenu
	{
		width:96%;
		margin-left:2%;
	}
	#titreValidité
	{
		display:none;
	}
	.titreNumero
	{
		font-size:70%;
		width:20px;
	}
	.titreRefLongue
	{
		font-size:70%;
		margin-left:10%;
		width:20px;
	}
	.titreValidité
	{
		font-size:70%;
		margin-left:14%;
	}
	.titreMontant
	{
		font-size:70%;
		margin-left:15%;
	}
}
/* affichage jusqu'ŕ 480px max de largeur */
@media only screen and (max-width:480px)
{
	#bdrechCont
	{
		margin-left:3%;
	}
	.titreNumero
	{
		font-size:70%;
		width:10px;
	}
	.titreRefLongue
	{
		font-size:70%;
		margin-left:15%;
		width:10px;
	}
	.titreValidité
	{
		font-size:70%;
		margin-left:14%;
		width:10px;
	}
	.titreMontant
	{
		font-size:70%;
		margin-left:15%;
		width:10px;
	}
}

/* affichage jusqu'ŕ 360px max de largeur */
@media only screen and (max-width:360px)
{
	.titreH1 .superflus
	{
		display:none;
	}
	.module90
	{
		display:none;
	}
	
	.titreNumero
	{
		font-size:70%;
	}
	.titreRefLongue
	{
		font-size:70%;
		margin-left:20%;
		width:10px;
	}
	.titreValidité
	{
		font-size:70%;
		margin-left:23%;
		width:10px;
	}
	.titreMontant
	{
		font-size:70%;
		margin-left:15%;
	}
}

