
#figRI
{
	display:none;
}

header h1
{
	left:2%;
	font-size:110%;
}

#h1_BO
{
	font-size:150%;
	display:inline-block;
	margin-right:30px;
}

#filRouge
{
	left:0px;
	width:100%;
}

#contenu
{
	left:0px;
	width:100%;
	height:90%;
}

.labelParametre
{
	width:100%;
}

.lblPara
{
	padding-left:5%;
	color:#414249;
	font-weight:bold;
	font-size:1.2em;
}

.utilConnecte
{
	width:120px;
	height:65px;
	display:inline-block;
	position:absolute;
	right:30px;
	background: url(../images/selection.png) no-repeat;
	background-position:right center;
	height:65px;
	line-height:65px;
}

#formRequeteBDD
{
	width:100%;
	margin-top:30px;
}

#requeteBDD
{
	display:block;
	width:90%;
	margin-left:5%;
	height:40px;
	border:1px solid #414249;
	padding:10px;
}

#EnvoyerSQLITE
{
	-webkit-appearance:button;
	cursor:pointer;
	background-color: white;
	margin-left:5%;
	display:block;
	width:80px;
	height:25px;
}

#tabSQLITE, #retourSQLITE
{
	width:90%;
	margin-left:5%;
	margin-top:30px;
}

.lignesSQLITE_th
{
	height:30px;
}

.lignesSQLITE_pyg, .lignesSQLITE_th
{
	background-color:white;
}

#tabSQLITE th
{
	text-align:left;
}



/* +++++++++++++++++++++++++++++++++++++++++ SPECIFIQUE TAILLE ECRAN +++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (max-width:480px)
{
	header h1
	{
		left:2%;
		font-size:100%;
	}

	#h1_BO
	{
		font-size:130%;
		margin-right:10px;
	}
}

@media only screen and (max-width:320px)
{
	#session
	{
		display:none;
	}
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++ HAUTEUR ++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (max-height:420px)
{
	header h1
	{
		display:none;
	}
}