#bdrechCli
{
	position: relative;
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	background: #0966A2;
}

#borderrechCli
{
	padding:0;
	margin:0;
	position:absolute;
	border-radius: 4px;
	border:1px solid #dbdbdb;
	height: 32px;
	width: 311px;
	top: 3px;
	left: 5px;
}

#rechCli
{
	padding:0;
	margin:0;
	position:absolute;
	background:#5D606A url(../images/loupe.png) no-repeat;
	background-position:0% 50%;
	color:#ffffff;
	height:30px;
	line-height:30px;
	padding-left:29px;
	font-size:1.1em;
	width:280px;
	
}

#rechCli:focus
{
	outline:none;
}

#resetClient
{
	padding:0;
	margin:0;
	background:#5D606A url(../images/annuler-30.png) no-repeat;
	position:absolute;
	line-height:30px;
	height:30px;
	width: 30px;
	left: 280px;
	z-index: 20;
	font-size:1.1em;
}

#listeClient
{
	padding:0;
	margin:0;
	opacity: 0.95;
	filter: alpha(opacity=95);
	width: 310px;
	display: none;
	position:absolute;
	border: 1px solid #dbdbdb;
	background:#5D606A;
	font-size:1.1em;
	z-index: 20;
}
.detailClient
{
	padding:5px;
	margin:0;
	display: block;
	/*border:1px solid #dbdbdb;*/
	text-decoration: none;
	color:#ffffff;
	height:20px;
	line-height: 20px;
	vertical-align: middle;
}