
.secContenu
{
	min-height:360px;
}

#deuxBoites1, #deuxBoites2
{
	min-height:140px;
}

#A1ART, #A1FAM, #FRNOM
{
	width:200px;
}

#A1LIB
{
	width:300px;
}

#STOCK, #S1RES, #DISPO, #S1ATT
{
	text-align:right;
	width:100px;
}

#uniteStock
{
	display:inline-block;
	position:absolute;
	width:100px;
	right:10px;
	top:0px;
	text-align:right;
}

#ATP01
{
	width:150px;
	text-align: right;
	font-weight: bold;
}

#ATDAP
{
	text-align:center;
	width:90px;
}

#pv_TVA
{
	position:absolute;
	width:50px;
	right:3px;
	top:0px;
	height:22px;
	display:inline-block;
	text-align:right;
}

/* +++++++++++++++++++++++++++++ SPECIFIQUE +++++++++++++++++++++++++++++ */

@media only screen and (max-width:1000px)
{
	#ATP01
	{
		width:130px;
	}
}

@media only screen and (max-width:480px)
{
	#A1ART, #A1FAM, #FRNOM
	{
		width:180px;
	}
	
	#ATP01
	{
		width:150px;
	}
}


