.checkbox1 {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}

.labelmenu {
	display: inline-block;
	width: 200px;
	height: 20px;
	line-height: 20px;
}

.btnMAJ {
	margin-left: 1%;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.list {
	/*border:1px solid #7C7C7C;*/
	display: block;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	color: #4a4a54;
	width: 98%;
	margin-left: 1%;
	padding: 0;
}

.labelcheckbox {
	height: 25px;
	display: inline-block;
	height: 30px;
}

.labelGestionnaire {
	margin-left: 200px;
	width: 180px;
}

.labelAdmin {
	margin-left: 30px;
	width: 150px;
}