.liensBO {
	display: inline-block;
	width: 30%;
	text-align: center;
	border: 1px solid #7C7C7C;
	margin-left: 2%;
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

.liensBO:first-child {
	margin-top: 20px;
}

.liensBO:last-child {
	margin-bottom: 30px;
}

.liensBO:hover {
	opacity: 0.7;
}

.etbPourris {
	display: inline-block;
	width: 94%;
	text-align: left;
	color: white;
	margin-bottom: 10px;
}

@media only screen and (max-width:600px) {
	.liensBO {
		font-size: 13px;
	}
	.superfBO {
		
	}
}

@media only screen and (max-width:600px) {
	.liensBO {
		font-size: 14px;
	}
	.superfBO {
		display: none;
	}
}