h2 {
	display: none;
}

#filRouge {
	display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ BLOC INTRODUCTION +++++++++++++++++++++++++++++++++++++++++++++*/
#blocIntroduction {
	width: 90%;
	border: 2px solid #d9d7d2;
	margin-bottom: 35px;
	border-radius: 3px;
	margin-top: -23px;
	margin-left: 5%;
	position: relative;
}

#blocDecoBleue {
	position: absolute;
	width: 70px;
	height: 60px;
	top: -5px;
	left: -5px;
	background: url(../images/decoration/decoBleue.png) no-repeat;
}

h4 {
	width: 85%;
	font-size: 14px;
	color: #363636;
	height: 25px;
	line-height: 25px;
	margin-bottom: 14px;
	margin-right: 2%;
	margin-left: 12%;
	margin-top: 10px;
	text-align: right;
}

#lookWeb {
	font-size: 20px;
	color: #3581BA;
	font-weight: bold;
}

#lookShop {
	font-size: 20px;
	color: #7C7C7C;
	font-weight: bold;
}

#texteIntroduction {
	width: 95%;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 15px;
	text-align: justify;
}

#blocImageAccueil {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 35px;
	position: relative;
}

#imgAccueil {
	border: 2px solid #d9d7d2;
	border-radius: 2px;
	display: block;
	width: 100%;
}

#lienInformations:hover {
	opacity: 0.9;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ BLOC PROMOTIONS +++++++++++++++++++++++++++++++++++++++++++++*/
#blocPromotions {
	margin: 0;
	padding: 0;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 28px;
	border: 1px solid gray;
	position: relative;
	text-align: center;
	border: 2px solid #d9d7d2;
	background-color: #f4f3f1;
	border-radius: 2px;
}

.unePromo {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 24%;
	height: 303px;
}

.margin_Promo {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 100%;
}

.marginBas_Promo {
	margin: 0;
	padding: 0;
	height: 30px;
	width: 100%;
}

.imagePromotion {
	margin: 0;
	padding: 0;
	z-index: 6;
	width: 94%;
	height: 200px;
	border: 1px solid #3581BA;
	background-color: white;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 3%;
}

.imagePromotion:hover {
	opacity: 0.8;
}

.imagePromo {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height:auto;
	max-height: 100%;
}

.prixPromo {
	z-index: 7;
	position: absolute;
	top: 30px;
	right: -2px;
	width: 80px;
	border: 1px solid #047235;
	height: 24px;
	line-height: 24px;
	background-color: #009245;
	background: -webkit-linear-gradient(#009245, #37AA3C 90%);
	background: -moz-linear-gradient(#009245, #37AA3C 90%);
	background: -ms-linear-gradient(#009245, #37AA3C 90%);
	background: -o-linear-gradient(#009245, #37AA3C 90%);
	background: linear-gradient(#009245, #37AA3C 90%);
	color: white;
	font-weight: bold;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.detailsPromotion {
	width: 94%;
	border: 1px solid #3581BA;
	height: 80px;
	background: -webkit-linear-gradient(#276F9B, #3581BA 80%);
	background: -moz-linear-gradient(#276F9B, #3581BA 80%);
	background: -ms-linear-gradient(#276F9B, #3581BA 80%);
	background: -o-linear-gradient(#276F9B, #3581BA 80%);
	background: linear-gradient(#276F9B, #3581BA 80%);
	color: white;
	text-align: left;
	position: absolute;
	left: 3%;
	bottom: 0;
}

.decoLibPromo {
	display: block;
	position: absolute;
	width: 7%;
	height: 18px;
	line-height: 18px;
	background: url(../images/decoration/puceLibPromo.png) no-repeat;
	/*border:1px solid white;*/
	top: 3px;
	left: 2%;
}

.detailLibPromo {
	display: block;
	position: absolute;
	left: 9%;
	top: 3px;
	font-weight: bold;
	font-size: 0.9em;
	height: 18px;
	line-height: 18px;
	width: 89%;
	/*border:1px solid white;*/
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.panierPromo {
	display: block;
	position: absolute;
	height: 33px;
	width: 33px;
	bottom: 4px;
	right: 9px;
	z-index: 7;
}

.panierPromo img {
	width: 33px;
}

.textePromo {
	display: block;
	position: absolute;
	top: 24px;
	left: 2%;
	width: 96%;
	font-size: 0.9em;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.validPromo {
	display: block;
	position: absolute;
	top: 57px;
	left: 2%;
	width: 96%;
	/*border:1px solid white;*/
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

.blocPagination {
	margin: 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ LIENS GRAPHIQUES +++++++++++++++++++++++++++++++++++++++++++++*/
#blocLiensGraphiques {
	width: 90%;
	margin-left: 5%;
}

.liensGraphiques {
	display: inline-block;
	text-decoration: none;
	width: 30%;
	height: 80px;
	line-height: 80px;
	color: #7C7C7C;
	font-weight: bold;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
	border: 1px solid #9d9696;
	border-radius: 2px;
	box-shadow: 2px 2px 2px 0px #c8c2c2;
	text-align: left;
	position: relative;
}

.liensGraphiques:hover {
	background: #e1e0de;
	background: -webkit-linear-gradient(white, #e1e0de 80%);
	background: -moz-linear-gradient(white, #e1e0de 80%);
	background: -ms-linear-gradient(white, #e1e0de 80%);
	background: -o-linear-gradient(white, #e1e0de 80%);
	background: linear-gradient(white, #e1e0de 80%);
}

.titreLienGraphique {
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 20px;
	width: 90%;
	top: -20px;
	left: 18px;
	color: #3581BA;
	font-weight: bold;
	text-align: left;
}

.decoLienGraphique {
	display: inline-block;
	position: absolute;
	height: 18px;
	width: 18px;
	top: -20px;
	left: -4px;
}

.imgliensGraphiques {
	display: block;
	border: none;
	height: 80px;
	line-height: 80px;
}

.textLiensGraphiques {
	display: block;
	height: 80px;
	line-height: 80px;
	position: absolute;
	right: 7%;
	top: 0;
	width: 60%;
	text-align: right;
	font-size: 13px;
}

#lienCatalogue, #lienMagasins, #lienClients {
	margin-right: 4%;
}

#lienHistoriqueC {
	opacity: 0.4;
}

#lienSonepar {
	background: none;
	width: 31%;
	box-shadow: none;
	position: relative;
	border: none;
}

.aSonepar {
	display: block;
	position: absolute;
	width: 49%;
	max-width: 49%;
}

#posCGED {
	top: 0;
	left: 0;
}

#posSonepar {
	top: 0;
	right: 0;
}

#imgSonepar, #imgCGED {
	width: 100%;
	height: auto;
}

/** *****************************************  RESPONSIVE DESIGN *******************************************************/
@media only screen and (max-width:1000px) {
	.textLiensGraphiques {
		right: 4%;
	}
	#lienSonepar {
		width: 28%;
	}
	.unePromo {
		width: 32%;
	}
}

@media only screen and (max-width:900px) {
	.liensGraphiques {
		width: 32%;
	}
	#lienCatalogue, #lienMagasins, #lienClients {
		margin-right: 1%;
	}
}

@media only screen and (max-width:800px) {
	#blocImageAccueil, #blocIntroduction, #blocLiensGraphiques {
		width: 94%;
		margin-left: 3%;
	}
}

@media only screen and (max-width:700px) {
	.titreLienGraphique, .decoLienGraphique {
		display: none;
	}
	.liensGraphiques {
		width: 100%;
		margin-bottom: 6px;
	}
	.textLiensGraphiques {
		display: inline-block;
		right: 12%;
		text-transform: none;
		font-size: 15px;
	}
}

@media only screen and (max-width:600px) {
	.unePromo {
		width: 45%;
	}
}

@media only screen and (max-width:500px) {
	#blocDecoBleue {
		display: none;
	}
	#blocIntroduction {
		width: 100%;
		margin-left: 0;
		border: none;
	}
	h4 {
		width: 98%;
		margin-left: 2%;
		text-align: left;
	}
	#blocImageAccueil {
		display: none;
	}
	#blocLiensGraphiques {
		width: 100%;
		margin-left: 0;
	}
	.liensGraphiques {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 4px;
	}
	#lienSonepar {
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	.aSonepar {
		text-align: center;
		position: relative;
		display: inline-block;
	}
	#imgSonepar, #imgCGED {
		max-height: 80px;
		width: auto;
		margin: auto;
	}
	.textLiensGraphiques .superflus {
		display: inline;
	}
	.unePromo {
		width: 70%;
	}
}

@media only screen and (max-width:400px) {
	#lookWeb, #lookShop {
		font-size: 22px;
	}
	#indelebile {
		display: none;
	}
	.unePromo {
		width: 90%;
	}
}