a {
	color: #4a4a54;
}

.zone {
	margin-left: 5%;
	/*margin-bottom:15px;*/
	width: 90%;
	/*height:140px;*/
	background-color: #f9f8f6;
	font: 12px 'Open Sans', sans-serif;
	border: none;
	border: 1px solid #9d9696;
	border-radius: 4px;
	resize: none;
	background-color: #f9f8f6;
	min-height: 5px;
	height: 70px;
}

.textLabel {
	margin-left: 5%;
	display: block;
	width: 180px;
}

.detailFichier {
	margin-left: 5%;
	background-color: #f9f8f6;
	margin-bottom: 5px;
}

.listeTables {
	/* margin-left:5%;
	
	margin-bottom:5px; */
	/*background-color:#f9f8f6;*/
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #4a4a54;
}

.listeTables:nth-child(even) {
	background-color: #f4f3f1;
}

.BTNenvoyer {
	margin-left: 5%;
	margin-bottom: 5px;
	margin-top: 2%;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.COLUMN_NAME {
	margin-left: 10px;
	width: 15%;
	margin-right: 30px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
}

.cellule {
	width: 20%;
	/*height:10%;*/
	line-height: 15px;
}

.table {
	display: inline-block;
	width: 90%;
	/*height:10%;*/
	line-height: 28px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #f9f8f6;
	margin-bottom: 5px;
}

.DATA_TYPE {
	display: inline-block;
	width: 15%;
	margin-right: 30px;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
}

#tabResultat {
	margin-left: 5%;
	background-color: #f9f8f6;
	margin-bottom: 5px;
}

#titreNom {
	/*margin-left:2px;*/
	width: 35%;
	margin-right: 60px;
	color: white;
}

#titreChamp {
	width: 30%;
	margin-right: 30px;
	color: white;
}