.zone {
	display: block;
	min-height: 100px;
	margin-bottom: 15px;
	width: 90%;
	margin-left: 5%;
}

.textLabel {
	display: block;
	width: 90%;
	margin-bottom: 5px;
	margin-left: 5%;
	margin-top: 20px;
}

.btnMAJ {
	margin-top: 2px;
	margin-left: 5%;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

#formChoixLangue {
	width: 90%;
	margin-left: 5%;
}

#formChoixLangue select {
	font-size: 13px;
	font-weight: bold;
	width: 150px;
	height: 28px;
}