#saisieClients {
	display: block;
	width: 98%;
	height: 50px;
	line-height: 50px;
	margin-left: 1%;
}

/**+++++++++++++++++++++++++++++++++++ BLOC DE RECHERCHE +++++++++++++++++++++++++++++++ */
#lbRechercheClient {
	width: 16%;
	display: inline-block;
	margin-left: 1%;
}

#reinitMoteurClients {
	width: 25%;
	display: inline-block;
	margin-left: 10%;
}

#blocMoteurClients {
	width: 172px;
	height: 21px;
	line-height: 21px;
	border: 1px solid #7C7C7C;
	display: inline-block;
	position: relative;
}

#champClients {
	height: 21px;
	background: white;
	border: none;
	border-radius: 0;
	width: 140px;
	display: inline-block;
	text-transform: uppercase;
	opacity: 1;
	padding-right: 5px;
}

#validRechClients {
	display: inline-block;
	width: 30px;
	height: 20px;
	line-height: 21px;
	color: white;
	background: url(../images/decoration/loupe.png) no-repeat;
	background-color: white;
}

/**+++++++++++++++++++++++++++++++++++ LISTE DE CLIENTS +++++++++++++++++++++++++++++++ */
#titre_CLCLI, .CLCLI {
	margin-left: 1%;
	width: 15%;
	display: inline-block;
}

#titre_CLNOM, .CLNOM {
	margin-left: 1%;
	width: 30%;
	display: inline-block;
}

#titre_action, .choisirMonClient {
	margin-left: 1%;
	width: 45%;
	display: inline-block;
}

a.choisirMonClient {
	color: #3581BA;
	font-weight: bold;
}

a.choisirMonClient:hover {
	font-style: italic;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ RESPONSIVE DESIGN ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width:700px) {
	#lbRechercheClient {
		width: 25%;
	}
	#titre_CLCLI, .CLCLI {
		width: 25%;
	}
	#titre_CLNOM, .CLNOM {
		width: 45%;
	}
	#titre_action, .choisirMonClient {
		width: 25%;
	}
}

@media only screen and (max-width:600px) {
	#reinitMoteurClients {
		width: 25%;
		margin-left: 2%;
	}
}

@media only screen and (max-width:500px) {
	#lbRechercheClient, #reinitMoteurClients {
		display: none;
	}
	#titre_CLCLI, .CLCLI {
		width: 20%;
	}
	#titre_CLNOM, .CLNOM {
		width: 50%;
	}
	#titre_action, .choisirMonClient {
		text-align: right;
	}
}