#choixETBParams {
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	width: 30%;
	min-width: 200px;
	margin-bottom: 15px;
	margin-left: 2%;
	background-color: #f4f3f1;
}

.lignesFormulaires {
	width: 96%;
	height: 30px;
	line-height: 30px;
	margin-left: 2%;
}

.labelparam {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	width: 50%;
	margin-right: 0;
}

.valparam {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	width: 30%;
}

.valparam:focus {
	background-color: #f1ede9;
}

.lignesFormulaires:nth-child(odd) {
	background-color: #f4f3f1;
}

.bouton {
	display: inline-block;
	width: 200px;
	margin-left: 2%;
	margin-top: 15px;
	height: 24px;
	line-height: 24px;
	background-color: #f1ede9;
	cursor: pointer;
}