h2 {
	z-index: 10;
}

#blocConnexion {
	position: relative;
	height: 160px;
}

#seConnecter {
	margin-left: 30px;
	width: 310px;
	margin-top: 30px;
}

#imageConnexion {
	width: 300px;
	/*height:120px;*/
	position: absolute;
	right: 2%;
	top: 90px;
}

#imageConnexion2 {
	width: 300px;
	position: absolute;
	right: 2%;
	top: 110px;
}

#blocSinscrire {
	margin-top: 20px;
	padding-top: 15px;
	position: relative;
	height: 210px;
}

#sInscrire {
	position: absolute;
	right: 30px;
	top: 110px;
}

#sInscrire2 {
	position: absolute;
	right: 30px;
	top: 125px;
}

#imageInscription {
	width: 300px;
	/*height:120px;*/
	margin-left: 2%;
}

.labelConnexion {
	display: inline-block;
	width: 140px;
}

#loginUser, #nvLoginUser {
	height: 19px;
	font-size: 12px;
	width: 160px;
	margin-right: 0;
}

#passUser, #nvPassUser, #passUserCtrl {
	height: 19px;
	font-size: 12px;
	width: 120px;
}

.mesBoutons {
	line-height: inherit;
}

#validerConnexion, #validerInscription {
	width: 125px;
	margin-left: 140px;
}

#mpOublie {
	font-size: 10px;
	display: inline-block;
	width: 125px;
	margin-left: 140px;
	color: #aba3a3;
}

/**************************************** DEPLOIEMENT *****************************************/
.lignesFormulaires {
	width: 320px;
	height: 30px;
}

.labelDeploi {
	display: inline-block;
	width: 150px;
	margin-left: 10px;
}

#PROFIL_ADMIN, #PROFIL_AS_CLIENTS {
	width: 100px;
	text-transform: uppercase;
}

#MP_ADMIN, #MP_AS_CLIENTS {
	width: 120px;
}

#ADRESSE_PUBLIC_SERVEUR {
	width: 94px;
	text-align: center;
}

#PORT_SERVEUR {
	width: 40px;
	text-align: center;
}

#ENVIRONNEMENT, #BIBLI_CLIENTS {
	width: 60px;
	text-transform: uppercase;
}

#LETTRE_ENV {
	width: 15px;
	text-transform: uppercase;
	text-align: center;
}

#ETB_CLIENTS {
	width: 35px;
	text-transform: uppercase;
	text-align: center;
}

#validerParametres {
	display: inline-block;
	width: 140px;
	height: 25px;
	margin-left: 10px;
	background-color: #f1ede9;
	text-transform: uppercase;
}

.liensBoutons {
	display: inline-block;
	width: 30%;
	text-align: center;
	border: 1px solid #7C7C7C;
	margin-left: 2%;
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

/**************************************** RESPONSIVE DESIGN *****************************************/
@media only screen and (max-width:700px) {
	#blocConnexion {
		padding-top: 24px;
		height: 145px;
	}
	#blocSinscrire {
		padding-top: 0;
		margin-top: 10px;
		height: 200px;
	}
	#sInscrire {
		right: 20px;
		top: 90px;
	}
	#imageConnexion {
		width: 270px;
		right: 0;
		top: 65px;
	}
	#imageConnexion2 {
		width: 270px;
		right: 0;
		top: 120px;
	}
	#imageInscription {
		width: 270px;
		margin-left: 0;
		margin-top: 0;
	}
}

@media only screen and (max-width:600px) {
	#imageConnexion, #imageConnexion2, #imageInscription {
		display: none;
	}
	#blocSinscrire {
		position: relative;
		height: auto;
	}
	#sInscrire {
		position: relative;
		right: inherit;
		/*left:20px;
		top:90px;*/
		padding: 0;
		margin: 0;
		top: 0;
		margin-left: 20px;
	}
	#sInscrire2 {
		position: relative;
		top: 0;
		right: inherit;
		margin-left: 20px;
	}
	#seConnecter {
		margin-left: 20px;
	}
}

@media only screen and (max-width:500px) {
	#sInscrire {
		left: 10px;
	}
	#sInscrire2 {
		margin-left: 10px;
	}
	#seConnecter {
		margin-left: 10px;
	}
}