#boiteFormulaire {
	width: 100%;
	position: relative;
}

#formContact {
	width: 50%;
	margin-left: 5%;
}

#decoContact {
	position: absolute;
	top: 50px;
	right: 5%;
	width: 33%;
	text-align: center;
}

#imgDecoContact {
	width: 100%;
}

#input {
	font-size: 13px;
	color: #7C7C7C;
}

.ligneContact {
	height: 30px;
	line-height: 30px;
}

#divMessage {
	height: 180px;
}

label {
	display: inline-block;
	width: 35%;
}

input, select {
	width: 62%;
	background-color: #f9f8f6;
}

#contact_message_label {
	display: block;
	height: 20px;
	line-height: 20px;
	width: 90%;
	margin-top: 5px;
}

textarea {
	width: 98%;
	height: 140px;
	background-color: #f9f8f6;
	font: 12px 'Open Sans', sans-serif;
	border: none;
	border: 1px solid #9d9696;
	border-radius: 4px;
	resize: none;
}

#contact_valider {
	width: 36%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

#contact_valider:hover {
	opacity: 0.7;
}

/******************************************************** RESPONSIVE DESIGN ***********************************************************/
@media only screen and (max-width:900px) {
	#formContact {
		width: 60%;
	}
	#decoContact {
		width: 23%;
	}
}

@media only screen and (max-width:600px) {
	#formContact {
		width: 90%;
	}
	#decoContact {
		display: none;
	}
}

@media only screen and (max-width:400px) {
	#formContact {
		width: 95%;
		margin-left: 2%;
	}
}