#codEtb, .codEtb {
	display: inline-block;
	width: 10%;
	margin-left: 1%;
}

#libellEtb, .libellEtb {
	display: inline-block;
	width: 40%;
	margin-left: 1%;
}

#etatEtb, .etatEtb {
	display: inline-block;
	width: 20%;
	margin-left: 1%;
}

/****************** FICHE ETABLISSEMENT ****************/
.labelCODE {
	width: 100px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-left: 2%;
	margin-bottom: 10px;
}

#fc_codeETB {
	width: 30px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	background-color: #f1ede9;
	cursor: default;
}

#fc_libEtb {
	width: 200px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}

#fc_etatETB {
	width: 70px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	margin-bottom: 10px;
}

.btnMAJ {
	width: 100px;
	height: 25px;
	line-height: 25px;
	margin-left: 2%;
	font-size: 13px;
	cursor: pointer;
	background-color: #f1ede9;
}