.zone {
	margin-left: 2%;
	display: block;
	height: 150px;
	width: 70%;
}

.textLabel {
	margin-left: 2%;
	display: block;
	margin-bottom: 5px;
}

.btnMAJ {
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 5px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.modif {
	text-align: center;
	margin-left: 2%;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	width: 15%;
	height: 26px;
	border: 1px solid #7C7C7C;
	line-height: 25px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}