.zone {
	min-height: 5px;
	margin-bottom: 15px;
	width: 90%;
	margin-left: 5%;
	height: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #C0C0C0 inset;
}

.textLabel {
	margin-left: 5%;
	display: block;
	width: 180px;
	margin-bottom: 5px;
}

.textLabelImagel {
	margin-left: 5%;
	font-size: 15px;
}

.fileUpload {
	margin-left: 5%;
}

.btnMAJ {
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 5px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}