.texteInfos {
	margin: 0;
	padding: 0;
	font-size: 13px;
	min-height: 200px;
	text-align: justify;
	text-justify: inter-word;
}

.imagesInfos {
	margin: 0;
	padding: 0;
	width: 300px;
	min-height: 200px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#INF_DES {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

#INF_DES2 {
	margin-right: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
}

#INF_IMG {
	float: right;
}

#INF_IMG2 {
	float: left;
}

#affMesBoutonS {
	width: 98%;
	text-align: center;
}

@media only screen and (max-width:500px) {
	.imagesInfos {
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
		text-align: center;
	}
	#INF_IMG, #INF_IMG2 {
		float: none;
	}
}