a {
	color: #4a4a54;
}

.datesLogs {
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}

.listeLogs {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	height: 10px;
	line-height: 24px;
	text-decoration: none;
}

.texteInfos {
	width: 96%;
	margin-left: 2%;
	/*height:500px;*/
	margin: 0;
	padding: 0;
	font-size: 11px;
	white-space: pre-line;
	min-height: 200px;
	text-align: justify;
	/* text-justify: inter-word;*/
	word-wrap: break-word;
	max-width: 100px;
	/* background-color:#f4f3f1;*/
}

.datesLogs:nth-child(odd), .listeLogs:nth-child(odd), .texteInfos:nth-child(odd)
	{
	background-color: #f4f3f1;
}

.btnMAJ {
	margin-left: 2%;
	margin-bottom: 5px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}