textarea {
	display: inline-block;
	padding: 3px;
	background-color: #f9f8f6;
	font: 12px 'Open Sans', sans-serif;
	border: none;
	border: 1px solid #9d9696;
	border-radius: 4px;
	resize: none;
	color: #4a4a54;
}

#centrageBoutons {
	text-align: center;
	width: 100%;
}

.magasinsBO {
	display: inline-block;
	width: 30%;
	text-align: center;
	border: 1px solid #7C7C7C;
	margin-left: 2%;
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

#centrageChoixLangues {
	width: 90%;
	margin-left: 5%;
	height: 100px;
	margin-top: 50px;
}

#centrageChoixLangues select {
	font-size: 14px;
	width: 200px;
	height: 30px;
}

#formChoixLangue {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	margin-top: 10px;
}

#formChoixLangue select {
	font-size: 14px;
	width: 180px;
	height: 28px;
	font-weight: bold;
}

#formMagasin {
	width: 90%;
	margin-left: 5%;
}

#formMagasin h3 {
	width: 100%;
	margin-left: 0;
}

.textLabel {
	width: 30%;
	display: inline-block;
}

.zone {
	width: 99%;
	height: 60px;
	margin-bottom: 10px;
	margin-top: 6px;
}

#MG_CODE {
	width: 30px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #f9f8f6;
	height: 23px;
}

#MG_NAME, #MG_MAIL_CD, #MG_MAIL_DV, #MG_MAIL_IN {
	width: 69%;
	margin-bottom: 10px;
	background-color: #f9f8f6;
	height: 23px;
}

#MG_TEL {
	width: 69%;
	margin-bottom: 12px;
	background-color: #f9f8f6;
	height: 23px;
}

.btnMAJ {
	margin-top: 10px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

#MG_MAIL_IN {
	margin-bottom: 30px;
}

@media only screen and (max-width:800px) {
	.textLabel {
		width: 49%;
	}
	#MG_NAME {
		width: 49%;
	}
	#MG_TEL {
		width: 49%;
	}
}