.MG_HOR, .MG_EQUI {
	border: 2px solid #d9d7d2;
	border-radius: 3px;
}

.MG_MESS {
	width: 92%;
	margin-left: 4%;
	margin-bottom: 35px;
}

.MG_NAME {
	display: inline-block;
	width: 25%;
}

.MG_ADR {
	display: inline-block;
	width: 55%;
	font-weight: normal;
}

.MG_TEL {
	display: inline-block;
	width: 15%;
	text-align: right;
	font-weight: normal;
}

.listeMags {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}

.blocArrangement {
	width: 92%;
	margin-left: 4%;
	position: relative;
	height: 280px;
}

.TITRENOM {
	margin-left: 1%;
	width: 30%;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
}

.TITREADRE {
	margin-left: 1%;
	display: inline-block;
	width: 50%;
	height: 28px;
	line-height: 28px;
}

.TITRETEL {
	margin-left: 1%;
	display: inline-block;
	width: 15%;
	height: 28px;
	line-height: 28px;
}

.MG_HOR, .MG_EQUI {
	position: absolute;
	width: 26%;
	height: 240px;
	padding-top: 10px;
}

.lookTextes {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.MG_HOR {
	top: 0px;
	left: 0px;
}

.MG_EQUI {
	top: 0px;
	left: 28%;
}

.MG_CARTE {
	position: absolute;
	top: 0px;
	left: 56%;
	width: 42%;
	height: 250px;
}

iframe {
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #d9d7d2;
	border-radius: 3px;
}

.titreRubriques {
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 20px;
	width: 80%;
	top: -20px;
	left: 18px;
	color: #3581BA;
	font-weight: bold;
}

.decoRubriques {
	display: inline-block;
	position: absolute;
	height: 18px;
	width: 18px;
	top: -20px;
	left: -4px;
}

#titreNom {
	margin-left: 5px;
	width: 25%;
	margin-right: 30px;
}

#titreAdre {
	width: 45%;
	margin-right: 20px;
}

#titreTel {
	width: 15%;
	margin-right: 5px;
}

@media only screen and (max-width:800px) {
	.blocArrangement, .MG_MESS {
		width: 98%;
		margin-left: 1%;
	}
}

@media only screen and (max-width:700px) {
	.MG_NAME {
		width: 23%;
	}
	.MG_ADR {
		display: inline-block;
		width: 52%;
		font-weight: normal;
	}
	.MG_TEL {
		width: 17%;
	}
	.blocArrangement, .MG_MESS {
		width: 92%;
		margin-left: 4%;
	}
	.blocArrangement {
		height: 530px;
	}
	.MG_HOR, .MG_EQUI {
		width: 46%;
		height: 200px;
	}
	.MG_EQUI {
		left: 52%;
	}
	.MG_CARTE {
		top: 240px;
		left: 0%;
		width: 98%;
	}
}

@media only screen and (max-width:600px) {
	.blocArrangement, .MG_MESS {
		width: 94%;
		margin-left: 3%;
	}
	.MG_NAME {
		width: 63%;
	}
	.MG_ADR {
		display: none;
	}
	.MG_TEL {
		width: 28%;
	}
}

@media only screen and (max-width:500px) {
	.MG_TEL {
		width: 29%;
	}
	.blocArrangement {
		height: auto;
	}
	.MG_HOR, .MG_EQUI {
		position: inherit;
		width: 100%;
		height: auto;
		padding-bottom: 10px;
		left: 0;
		margin-bottom: 30px;
	}
	.MG_CARTE {
		position: inherit;
		left: 0;
		top: 0;
		width: 94%;
		margin-bottom: 40px;
	}
}