@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	height: 100%;
	color: #7C7C7C;
	font: 12px 'Open Sans', sans-serif;
	background: #f1ede9;
}

/*
#cadre
{
	width:80%;
	min-width:600px;
	background-color:white;
	border:1px solid #7C7C7C;
	margin-left:10%;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:20px;
}

/**
* ++++++++++++++++++++++++++++++++++ PRESENTATION ++++++++++++++++++++++++++++++++++
*/
#presentation {
	position: relative;
	width: 90%;
	margin-left: 5%;
	height: 75px;
}

#serveurEmetteur {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 30px;
	line-height: 30px;
	width: 40%;
	font-size: 22px;
	font-weight: bold;
}

#imageDecoration {
	/*position:absolute;
	left:40%;
	top:0px;
	background:url(image_deco.jpg) no-repeat;
	height:70px;
	width:45%;*/
	
}

#WebShop {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 70px;
	width: 15%;
	background: none;
}

#titreWeb {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 28px;
	color: #3581BA;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
}

#titreShop {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 33px;
	color: #7C7C7C;
	/*border-top:2px solid #7C7C7C;*/
	height: 36px;
	line-height: 36px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-weight: bold;
}

.separationMail {
	width: 100%;
	height: 6px;
	background: #363636;
	background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);
	border-radius: 2px;
	opacity: 0.7;
}

/*#sepPresentation
{
	position:absolute;
	bottom:0px;
	left:0px;
}*/
#sepPiedMail {
	margin-bottom: 7px;
}

/**
* ++++++++++++++++++++++++++++++++++ CONTENU +++++++++++++++++++++++++++++++++++++++
*/
#contenuMail {
	width: 90%;
	margin-left: 5%;
	font-size: 13px;
	margin-bottom: 30px;
}

h2 {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: white;
	background: #3581BA;
	border-radius: 2px;
	box-shadow: 2px 3px 2px 0px #c8c2c2;
	margin-bottom: 20px;
}

h2 span {
	display: inline-block;
	margin-left: 1%;
}

.importantMail {
	font-weight: bold;
	font-size: 13px;
}

#messageDeConf {
	margin-bottom: 10px;
}

#modeExpe {
	margin-bottom: 5px;
}

.infosLivr {
	font-weight: bold;
}

#cdpMail {
	display: inline-block;
	margin-right: 6px;
}

#villeMail {
	display: inline-block;
}

/****** LISTE ARTICLES */
#enteteliste {
	width: 100%;
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 13px;
	background: #363636;
	background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);
	color: white;
	opacity: 0.7;
	margin-top: 20px;
}

#enteteliste span {
	display: inline-block;
	margin-left: 1%;
}

.ligneArticleMail {
	width: 100%;
	min-height: 22px;
	line-height: 22px;
}

.ligneArticleMail:nth-child(even) {
	background-color: #f1ede9;
	/*background-color:#f4f3f1;*/
}

.refArticleMail {
	width: 24%;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-left: 1%;
}

.libArticleMail {
	width: 40%;
	display: inline-block;
	height: 22px;
	line-height: 22px;
}

.qteArticleMail {
	width: 10%;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	text-align: right;
}

.multipleMail {
	width: 5%;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.tarifArticleMail {
	width: 20%;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	text-align: right;
}

#totalCommandeMail {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin-top: 8px;
}

/**
* ++++++++++++++++++++++++++++++++++ PIED DE MAIL ++++++++++++++++++++++++++++++++++
*/
#piedMail {
	width: 90%;
	margin-left: 5%;
	position: relative;
}

#messNoReturn {
	width: 100%;
	line-height: 25px;
	font-weight: bold;
}

#dateMail, #webMaster {
	width: 100%;
	line-height: 20px;
}