.client {
	width: 96%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}

.sousBlocs {
	width: 48%;
	margin-left: 1%;
	position: relative;
	margin-top: 20px;
}

h5 {
	width: 90%;
	position: absolute;
	top: -20px;
	left: 5px;
	height: 20px;
	line-height: 20px;
	opacity: 0.9;
}

#RECIV {
	margin-left: 2%;
	width: 9%;
}

#REPAC {
	width: 82%;
}

#RETEL {
	margin-left: 2%;
	width: 94%;
}

#CLCLI {
	margin-left: 2%;
	width: 20%;
}

#CLNOM {
	margin-left: 2%;
	width: 70%;
}

#CLRUE {
	margin-left: 2%;
	width: 93%;
}

#CLCPL {
	margin-left: 2%;
	width: 93%;
}

#CLLOC, #CLVIL {
	margin-left: 2%;
	width: 93%;
}

/*++++++++++++++++++++++++++++++++ LISTE DES COMMANDES +++++++++++++++++++++++++++++++*/
#listeCommandes {
	margin-top: 15px;
	padding-top: 15px;
	position: relative;
}

.mesBoutons {
	position: absolute;
	top: 15px;
	right: 2%;
	width: 60%;
	border: none;
	background: none;
	text-align: right;
}

#optionsCommande {
	position: absolute;
	top: 79px;
	right: 3px;
	height: 23px;
	line-height: 23px;
	width: 260px;
}

#modifCommande, #annulCommande {
	position: absolute;
	display: block;
	width: 80px;
	height: 23px;
	line-height: 23px;
	top: 0px;
	text-align: center;
	border-left: 1px solid #d9d7d2;
	border-radius: 0;
}

#modifCommande {
	right: 105px;
}

.listes span {
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	/*	border-right:1px solid black;
  	border-left:1px solid black;*/
}

#enTeteListes {
	background: #363636;
	background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);
	color: white;
	opacity: 0.8;
}

.E1NUM, .E1NUMop, #titreE1NUM {
	width: 9%;
	margin-left: 4px;
	margin-right: 1%;
	display: inline-block;
}

.E1RCC, .E1RCCop, #titreE1RCC {
	width: 24%;
	margin-right: 1%;
	display: inline-block;
}

.E1CRE, .E1CREop, #titreE1CRE {
	width: 10%;
	margin-right: 1%;
	display: inline-block;
}

.E1DLP, .E1DLPop, #titreE1DLP {
	width: 10%;
	margin-right: 1%;
	display: inline-block;
}

.E1THTL, .E1THTLop, #titreE1THTL {
	width: 12%;
	text-align: right;
	margin-right: 2%;
	display: inline-block;
}

.STATUT, .STATUTop, #titreSTATUT {
	width: 13%;
	margin-right: 1%;
	display: inline-block;
}

.TYPCDE, .TYPCDEop, #titreTYPCDE {
	width: 12%;
	display: inline-block;
}

.TYPCDE, .TYPCDEop {
	font-weight: bold;
	color: #3581BA;
}

strong {
	color: #7C7C7C;
}

.Wvu, .Nvu {
	display: inline-block;
}

.Wcache, .Ncache {
	display: none;
	width: 5%;
}

.E1NUMop, .E1CREop, .E1THTLop, .STATUTop, .TYPCDEop, .E1DLPop, .E1RCCop
	{
	opacity: 0.5;
}

p.paddingInterne {
	display: inline;
	opacity: 0.5;
}

/*++++++++++++++++++++++++++++++++ DETAIL D'UNE COMMANDE +++++++++++++++++++++++++++++++*/
.messageRubrique {
	background-color: #3581BA;
	border: none;
	color: white;
	opacity: 0.6;
	min-height: 27px;
	line-height: 27px;
}

.A1ART, #titreA1ART {
	width: 25%;
	margin-left: 5px;
}

.A1LIB, #titreA1LIB {
	width: 25%;
}

.L1QTE, #titreL1QTE {
	width: 10%;
	text-align: right;
}

.L1MHT, #titreL1MHT, .L1PVC, #titreL1PVC {
	width: 19%;
	text-align: right;
}

#piedBon {
	width: 97%;
	margin-left: 1%;
}

.TOTALHT {
	width: 100%;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	/*border:1px solid black;*/
}

.TOTALECO {
	width: 100%;
	text-align: right;
	display: inline-block;
	height: 12px;
	line-height: 12px;
	/*border:1px solid blue;*/
}

#E1MEX, #E1DLS, #E1NUMd, #E1ETA, #E1CREd, #E1MAG, #E1DLP, #E1RCC, #E1NCC,
	#DOCLIE {
	width: 56%;
	text-align: left;
}

#CLINOM, #CLICPL, #CLIRUE, #CLILOC, #CLIVIL {
	margin-left: 2%;
	width: 94%;
}

#XILIB {
	margin-left: 3%;
	width: 94%;
}

.labelsZones {
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 6px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 35%;
}

#enTeteCde {
	margin-bottom: 10px;
}

#blocCommentaires {
	width: 97%;
	margin-bottom: 25px;
}

.messageRubrique {
	width: 98%;
	margin-left: 1%;
}

.docLie {
	color: #3581BA;
}

/*++++++++++++++++++++++++++++++++ RESPONSIVE DESIGN +++++++++++++++++++++++++++++++*/
@media only screen and (max-width:800px) {
	.listes {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (max-width:700px) {
	.TYPCDE, .TYPCDEop, #titreTYPCDE {
		width: 7%;
	}
	.Wvu, .Nvu {
		display: none;
	}
	.Wcache, .Ncache {
		display: inline-block;
	}
	.E1NUM, .E1NUMop, #titreE1NUM {
		width: 10%;
	}
	.E1RCC, .E1RCCop, #titreE1RCC {
		width: 25%;
	}
	.E1CRE, .E1CREop, #titreE1CRE {
		width: 11%;
	}
	.E1DLP, .E1DLPop, #titreE1DLP {
		width: 11%;
	}
	.E1THTL, .E1THTLop, #titreE1THTL {
		width: 13%;
	}
	.STATUT, .STATUTop, #titreSTATUT {
		width: 14%;
	}
	#optionsCommande {
		right: -1px;
		top: 81px;
	}
}

@media only screen and (max-width:600px) {
	.sousBlocs, #blocCommentaires {
		margin-left: 3%;
		display: block;
		width: 93%;
		margin-bottom: 20px;
	}
	#optionsCommande {
		top: 76px;
	}
	.E1NUM, .E1NUMop, #titreE1NUM {
		width: 14%;
	}
	.E1RCC, .E1RCCop, #titreE1RCC {
		width: 0;
		margin-right: 0;
	}
	.E1CRE, .E1CREop, #titreE1CRE {
		width: 15%;
	}
	.E1DLP, .E1DLPop, #titreE1DLP {
		width: 15%;
	}
	.E1THTL, .E1THTLop, #titreE1THTL {
		width: 19%;
	}
	.STATUT, .STATUTop, #titreSTATUT {
		width: 17%;
	}
	.TYPCDE, .TYPCDEop, #titreTYPCDE {
		width: 10%;
	}
}

@media only screen and (max-width:500px) {
	.E1NUM, .E1NUMop, #titreE1NUM {
		width: 17%;
	}
	.E1CRE, .E1CREop, #titreE1CRE {
		width: 18%;
	}
	.E1DLP, .E1DLPop, #titreE1DLP {
		width: 0%;
		margin-right: 0;
	}
	.E1THTL, .E1THTLop, #titreE1THTL {
		width: 25%;
		margin-right: 3%;
	}
	.STATUT, .STATUTop, #titreSTATUT {
		width: 20%;
	}
	.zwwwiip {
		display: none;
	}
	#optionsCommande {
		top: 73px;
	}
}

@media only screen and (max-width:400px) {
	.E1CRE, .E1CREop, #titreE1CRE {
		width: 20%;
	}
	.E1THTL, .E1THTLop, #titreE1THTL {
		width: 31%;
	}
	.TYPCDE, .TYPCDEop, #titreTYPCDE {
		width: 0%;
		margin-right: 0;
	}
}