.blocsPartenaires {
	/*
	width:180px;
	margin-left:15px;
	*/
	width: 17%;
	margin-left: 2%;
	height: 80px;
	line-height: 80px;
	border: 1px solid #9d9696;
	border-radius: 2px;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
}

.imgBlocsPartenaires {
	/*border:1px solid gray;*/
	width: 97%;
	max-width: 150px;
	height: auto;
	vertical-align: middle;
}

@media only screen and (max-width:800px) {
	.blocsPartenaires {
		width: 21%;
		margin-left: 3%;
	}
	.imgBlocsPartenaires {
		width: 95%;
	}
}

@media only screen and (max-width:700px) {
	.blocsPartenaires {
		width: 22%;
		margin-left: 2%;
	}
	.imgBlocsPartenaires {
		width: 93%;
	}
}

@media only screen and (max-width:600px) {
	.blocsPartenaires {
		width: 30%;
		margin-left: 2%;
	}
	.imgBlocsPartenaires {
		width: 90%;
	}
}

@media only screen and (max-width:400px) {
	.blocsPartenaires {
		width: 45%;
		margin-left: 3%;
	}
	.imgBlocsPartenaires {
		width: 90%;
	}
}