body {
	background: #F1F4E1;
}

#h1Web {
	display: none;
}

#h1Shop {
	display: none;
}

#image_deco {
	display: none;
}

h2 {
	top: 89px;
	z-index: 25;
}

#filRouge {
	top: 88px;
	z-index: 26;
}

#presentationHeader {
	background: #363636;
	background-color: #2b2a30;
	background: -webkit-linear-gradient(#414249, #2b2a30 80%);
	background: -moz-linear-gradient(#414249, #2b2a30 80%);
	background: -ms-linear-gradient(#414249, #2b2a30 80%);
	background: -o-linear-gradient(#414249, #2b2a30 80%);
	background: linear-gradient(#414249, #2b2a30 80%);
	/*background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);*/
}

header {
	background: none;
}

#navPersistante {
	background-color: #414249;
	background: -webkit-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -moz-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -ms-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -o-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
}

.lienNav, .courantNav {
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.courantNav {
	/*background:none;*/
	background: #F1F4E1;
	color: #414249;
}

#contenu {
	background: #F1F4E1;
}

#surBlocClient {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #3581BA;
	position: relative;
	margin-bottom: 10px;
}

#blocrepresentant {
	display: block;
	position: absolute;
	left: 2%;
	top: 0;
	width: 78%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
}

#blocAjoutCLient, #blocModifClient, #blocSupprClient {
	display: block;
	position: absolute;
	top: 0;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	text-decoration: none;
	background: #3581BA;
	border-left: 4px solid #F1F4E1;
	text-align: center;
}

#blocAjoutCLient:hover, #blocModifClient:hover, #blocSupprClient:hover {
	background-color: #266ea6;
}

#blocAjoutCLient {
	width: 19%;
	left: 80%;
}

#blocModifClient {
	width: 9%;
	left: 80%;
}

#blocSupprClient {
	width: 9%;
	left: 90%;
}

.imagesClients {
	height: 40px;
	width: 40px;
}

.blocContenu {
	background: white;
	border: 1px solid #055c94;
	border-radius: 4px;
	box-shadow: 2px 3px 3px 0px #414249;
}

#blocContenuAccueil {
	background: none;
	border: none;
	border-radius: none;
	box-shadow: none;
}

#titreRepresentant {
	position: absolute;
	top: 15px;
	right: 10px;
	text-align: right;
	font-size: 30px;
	color: white;
	height: 40px;
	line-height: 40px;
}

#plusRepresentant {
	display: inline-block;
	color: #3581BA;
	font-size: 33px;
}

#connecte {
	color: #f4f3f1;
}

.decoLienGraphique, .titreLienGraphique, .imgliensGraphiques {
	display: none;
}

.liensGraphiques {
	height: 90px;
	line-height: 90px;
	color: white;
	background-color: #414249;
	background: -webkit-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -moz-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -ms-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: -o-linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	background: linear-gradient(#5d606a, #414249 49%, #35333b 50%, #414249);
	border: 1px solid #414249;
	box-shadow: 3px 3px 3px 0px black;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.liensGraphiques:hover {
	background-color: #2b2a30;
	background: -webkit-linear-gradient(#414249, #35333b 49%, #2b2a30 50%);
	background: -moz-linear-gradient(#414249, #35333b 49%, #2b2a30 50%);
	background: -ms-linear-gradient(#414249, #35333b 49%, #2b2a30 50%);
	background: -o-linear-gradient(#414249, #35333b 49%, #2b2a30 50%);
	background: linear-gradient(#414249, #35333b 49%, #2b2a30 50%);
}

.textLiensGraphiques {
	height: 90px;
	line-height: 90px;
	right: 0;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

/* +++++++++++++++++++ FICHE ARTICLE ++++++++++++++++++++*/
#fi_details {
	top: 185px;
}

#fi_photo {
	top: 185px;
}

#fi_fourniss {
	top: 425px;
}

#fi_stock {
	top: 540px;
}

#fi_actions {
	top: 540px;
}

/********************* LISTE DE CLIENTS **/

/* +++++++++++++++++++++++++++++++++++++++++++++++ RESPONSIVE DESIGN ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width:700px) {
	h2 {
		top: 10px;
	}
	.blocContenu {
		padding-top: 25px;
	}
	#surBlocClient {
		margin-top: 15px;
		margin-bottom: 0px;
	}
	#filRouge {
		top: 71px;
	}
}

@media only screen and (max-width:620px) {
	#fi_details, #fi_photo, #fi_fourniss, #fi_stock, #fi_actions {
		top: 0px;
	}
}

@media only screen and (max-width:600px) {
	h2 {
		top: 4px;
	}
	#surBlocClient {
		margin-top: 18px;
		margin-bottom: 0px;
	}
	#filRouge {
		top: 45px;
	}
}

@media only screen and (max-width:500px) {
	#surBlocClient {
		margin-top: 25px;
	}
	#blocrepresentant {
		width: 58%;
		font-weight: normal;
	}
	#blocAjoutCLient {
		width: 39%;
		left: 60%;
	}
	#blocModifClient {
		width: 19%;
		left: 60%;
	}
	#blocSupprClient {
		width: 19%;
		left: 80%;
	}
	.superflusClient {
		display: none;
	}
}

@media only screen and (max-width:500px) {
	#titreRepresentant {
		display: none;
	}
}