/*++++++++++++++++++++++++++++++++ MISE EN FORME BOUTON +++++++++++++++++++++++++++++++*/
.statistiquesBO {
	display: inline-block;
	width: 30%;
	text-align: center;
	border: 1px solid #7C7C7C;
	margin-left: 2%;
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

.statistiquesBO:first-child {
	margin-top: 20px;
}

.statistiquesBO:last-child {
	margin-bottom: 30px;
}

/*++++++++++++++++++++++++++++++++ LISTE CA +++++++++++++++++++++++++++++++*/
.listes span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#enTeteListes {
	background: #363636;
	background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);
	color: white;
	opacity: 0.8;
}

#MOIS, #titreMOIS {
	width: 15%;
	margin-left: 4px;
	margin-right: 15px;
}

#CA, #titreCA {
	width: 30%;
	margin-left: 4px;
	margin-right: 30px;
}

#CNX, #titreCNX {
	width: 30%;
	margin-left: 4px;
	margin-right: 30px;
}

#choixan {
	width: 20%;
	margin-left: 4px;
	margin-right: 30px;
	margin-bottom: 10px;
}

#choixan:first-child {
	margin-top: 20px;
}

#choixan:last-child {
	margin-bottom: 30px;
}