a {
	color: #4a4a54;
}

#nvLoginUser {
	margin-top: 20px;
}

#loginUser {
	position: relative;
	min-height: 5px;
	height: 23px;
	margin-bottom: 5px;
	width: 100px;
}

#passwordUser {
	position: relative;
	height: 19px;
	width: 120px;
}

.Boutons {
	width: 25px;
	height: 23px;
	background: url(../images/decoration/plusArticles.png) no-repeat;
	cursor: pointer;
}

.creation {
	display: inline;
	width: 90px;
	margin-bottom: 5px;
	margin-left: 2%
}

/******************* LISTE UTILISATEURS ***************************/
.liste {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	/*height:24px;*/
	line-height: 24px;
	text-decoration: none;
}

.EnTeteListeUtil {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	color: white;
	background-color: gray;
}

.etbUtil, .loginUtil, .statutUtil, .autoriUtil, .dateCreUtil, .suppUtil,
	.clientUtil {
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.etbUtil {
	width: 5%;
}

.loginUtil {
	width: 45%;
}

.statutUtil {
	width: 25%;
}

.autoriUtil {
	width: 15%;
}

.dateCreUtil {
	width: 9%;
}

.suppUtil {
	width: 15%;
	text-align: right;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}

.clientUtil {
	width: 95%;
	opacity: 0.8;
}

/******************************************************************/
.listeLogs {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}

.liste:nth-child(odd) {
	background-color: #f4f3f1;
}

.utilisateurBO {
	display: inline-block;
	width: 8%;
	text-align: center;
	border: 1px solid #7C7C7C;
	margin-left: 2%;
	margin-right: 1%;
	margin-bottom: 5px;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

#imageSuppr {
	display: inline-block;
	max-width: 50%;
	max-height: 50%;
	text-align: right;
}