/*+++++++++++++++++++++++++++++++ DOCUMENT ++++++++++++++++++++++++++++*/
* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	height: 100%;
	color: #7C7C7C;
	font: 12px 'Open Sans', sans-serif;
	background: #f1ede9;
}

/*+++++++++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++*/
#presentationHeader {
	height: 120px;
	width: 100%;
	background: white;
}

header {
	position: relative;
	z-index: 1;
	height: 138px;
	width: 80%;
	margin: auto;
	max-width: 1000px;
	background: white;
}

h1 {
	position: absolute;
	right: 0;
	/*border:1px solid gray;*/
}

#h1Web {
	font-size: 28px;
	top: 2px;
	color: #3581BA;
	height: 24px;
}

#h1Shop {
	font-size: 33px;
	top: 33px;
	color: #7C7C7C;
	border-top: 2px solid #7C7C7C;
	height: 36px;
	line-height: 36px;
	letter-spacing: -2px;
}

#h1Client {
	display: none;
	font-size: 21px;
	width: 260px;
	left: 240px;
	top: 10px;
	color: #7C7C7C;
}

#logoClient {
	position: absolute;
	left: 0;
	top: 10px;
	height: 60px;
	z-index: 1;
}

span.couleurBlanc {
	color: white;
}

#image_deco {
	position: absolute;
	right: 140px;
	height: 100px;
	top: -1px;
	z-index: 0;
}

/*+++++++++++++++++++++++++++++++ CONTENU ++++++++++++++++++++++++++++*/
#contenu {
	z-index: 0;
	position: relative;
	width: 80%;
	margin: auto;
	max-width: 1000px;
	background: white;
	padding-top: 28px;
	background: #f1ede9;
}

h2 {
	position: absolute;
	width: 200px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	left: -8px;
	top: 34px;
	padding-right: 10px;
	color: white;
	background: #3581BA;
	border-radius: 2px;
	box-shadow: 2px 3px 2px 0px #c8c2c2;
	text-align: right;
}

h3 {
	width: 98%;
	height: 23px;
	line-height: 23px;
	font-size: 13px;
	margin-left: 1%;
	margin-bottom: 20px;
	/*background-color:#f1ede9;*/
	background-color: #f4f3f1;
	border: 1px solid #d9d7d2;
}

#messagePrincipal, .messageRubrique {
	width: 90%;
	margin-left: 5%;
	min-height: 28px;
	line-height: 28px;
	font-weight: bold;
	background-color: #f4f3f1;
	border: 1px solid #9d9696;
	text-align: center;
	margin-bottom: 20px;
}

.messageAlerte {
	width: 90%;
	margin-left: 5%;
	min-height: 30px;
	line-height: 30px;
	font-weight: bold;
	background-color: #C63838;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}